*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --primary-color: rgb(13, 13, 13);
    --secondary-color: rgb(216, 214, 221);
    --tertiary-color: rgba(45, 44, 49, 0.486);
}

a{
    color: inherit;
}

p{
    font-family: "Roboto", sans-serif;
}

.dots{
    display: inline-block;
    width: 1.2em;
    text-align: left;
}

@keyframes dot-flashing {
    0% {
        content: '.';
    }
    33% {
        content: '..';
    }
    66% {
        content: '...';
    }
    100% {
        content: '.';
    }
}

.dots::after {
    content: '';
    animation: dot-flashing 1.5s infinite steps(4, end);
}

button {
    --primary-color: #921717;
    --secondary-color: #fff;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
  
button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.3s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.3s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}

html{
    scroll-behavior: smooth;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;  
}

body{
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: Orbitron, sans-serif;
    overflow: hidden;
}

/* ---------------------------------------------------------- Preloader -------------------------------------------------------------------------- */

.preloader{
    position: fixed;
    height: 100svh;
    width: 100%;
    background: var(--primary-color);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
}

.preloader .loader{
    z-index: 9999; 
    display: flex;
    background: var(--primary-color);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.preloader .loader .circle{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader .loader .circle.small{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    animation: circleRotate 2s infinite linear reverse;
}
.preloader .loader .circle.small::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 20px;
    height: 40px;
    background: var(--primary-color);
}

.preloader .loader .circle.big{
    width: 80px;
    height: 80px;
    border: 3px solid white;
    animation: circleRotate 2s infinite linear;
}
.preloader .loader .circle.big::before{
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 20px;
    height: 80px;
    background: var(--primary-color);
}

@keyframes circleRotate {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes text-fading {
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}

/* hides the preloader with fadeOut animation */
.preloader.hide{
    animation: fadeOut .5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

/* ------------------------------------------------------------ Sidebar --------------------------------------------------------------- */

#sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 10px;
    left: 0px;
    z-index: 99;
    background: var(--tertiary-color);
    border-radius: 20px;
    font-size: 1.3rem;
    padding: 20px 0;
    padding-top: 50px;
    width: fit-content;
    transform: translateX(-100%);
    transition: transform .5s ease;
    max-height: calc(100svh - 10px);
}

/* opens sidebar */
#sidebar.show{
    transform: translateX(10px);
    backdrop-filter: blur(3px);
}

#sidebar .language{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

#sidebar .language img{
    height: 25px;
    cursor: pointer;
    padding: 5px;
}

#sidebar .language a.active img{
    border-bottom: 1px  solid white;
}

#sidebar .heading{
    cursor: pointer;
    user-select: none;
    height: 80px;
}

#sidebar .heading h1{
    font-size: 2rem;
    margin-bottom: 5px;
}

#sidebar .heading p{
    font-size: .8rem;
    text-align: center;
}

#sidebar nav ul{
    max-height: calc(100svh - 170px);
    overflow-y: scroll;
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    padding-left: 70px;
}

/* sidebar links scrollbar styling */
#sidebar nav ul::-webkit-scrollbar{
    width: 2px;
}
#sidebar nav ul::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 10px;
}
#sidebar nav ul::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.365);
    border-radius: 10px;
}

#sidebar nav ul li{
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap; /* prevent text from wrapping */
}

#sidebar nav ul li img{
    height: 25px;
    width: 25px;
}

#sidebar nav ul li a{
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

#sidebar nav ul .show-more{
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    font-size: .9rem;
    white-space: nowrap;
    transform: translateX(-20px);
}
#sidebar nav ul .show-more i{
    transition: transform .5s ease;
}
#sidebar nav ul .show-more.show i{
    transform: rotate(-180deg);
}

#sidebar nav ul .more{
    height: 0px;
    overflow: hidden;
}
#sidebar nav ul .more.show{
    height: fit-content;
    margin-top: 20px;
}

/* Rocket Spline Modell */
#sidebar nav ul .icon{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 5px;
    left: 20px;
    transform: translateY(0px) rotate(45deg);
    transition: transform 1s ease, opacity .3s;
    pointer-events: none;
}

#sidebar .hamburger{
    position: absolute;
    top: 10px;
    right: -60px;
    cursor: pointer;
    height: 28px;
    width: 40px;
    transition: all .5s ease;
} 

#sidebar .hamburger .bar{
    height: 3px;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    border-radius: 10px;
    transition: all .5s ease;
}

#sidebar .hamburger .bar.one{
    top: 0;
}
#sidebar .hamburger .bar.two{
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
}
#sidebar .hamburger .bar.three{
    top: 100%;
    transform: translateY(-100%);
    width: 40%;
    opacity: 1;
    transition: all .4s ease;
}

#sidebar .hamburger.isX{
    right: -15px;
}
#sidebar .hamburger.isX .bar.one{
    transform: rotate(45deg) translateY(320%);
    width: 15px;
}
#sidebar .hamburger.isX .bar.two{
    transform: rotate(-45deg) translateY(-320%);
    width: 15px;
}
#sidebar .hamburger.isX .bar.three{
    opacity: 0;
}

/* ----------------------------------------------------------- Pages --------------------------------------------------------------------------- */

.page{
    height: 200svh;
}

.page .viewer{
    height: 100svh;
}

/* Sketchfab viewer */
.page .viewer .sketchfab-embed-wrapper{
    height: 100%;
    overflow: hidden;
    position: relative;
}

.page .viewer .sketchfab-embed-wrapper iframe{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* cuts of the top and bottom to hide the watermark */
.page .viewer .sketchfab-embed-wrapper.cut iframe{
    height: calc(100vh + 100px);
    top: 50%;
    transform: translateY(-50%);
}

/* Model viewer */
.page .viewer model-viewer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Loading screen for model-viewer */
.page .viewer .MWLoader{
    display: flex;
    background: var(--primary-color);
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.page .viewer button{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.page .info{
    height: 100svh;
    padding: 20px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-direction: column;
    transition: all .5s ease;
}

/* blur class is added by js and blurs the text if the sidebar is open on small screens */
.page .info.blur{
    filter: blur(5px);
}

.page .info h1{
    font-size: 4rem;
    text-align: center;
}

.page .info p{
    width: 100%;
    max-width: 60%;
    font-size: 1.5rem;
    text-align: center;
    max-height: 50vh;
    overflow-y: scroll; /* add scrollbar if text is too long */
    padding: 0 20px;
}

/* p tag scrollbar styling */
.page .info p::-webkit-scrollbar {
    width: 2px;
}
.page .info p::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
.page .info p::-webkit-scrollbar-thumb {
    background: #921717;
    border-radius: 10px;
}

/* Hide all pages initialy apart from home */
.page {
    display: none;
}

/* Show page added by js */
.page.active{
    display: block;
}

/* ------------------------------------------------------ Media Querys ------------------------------------------------------------------------ */

@media (max-width: 1450px) {
    .page .info p{
        max-width: 80%;
    }
}
@media (max-width: 750px) {
    .page .info p{
        max-width: 100%;
        font-size: 1.3rem;
    }
    .page .info h1{
        font-size: 3rem;
    }
}
@media (max-width: 600px) {
    .page .info{
        gap: 50px;
    }
}
@media (max-width: 500px) {
    .page .info p{
        font-size: 1.2rem;
    }
    .page .info h1{
        font-size: 2rem;
    }
}
@media (max-width: 350px) {
    .page .info p{
        font-size: 1.1rem;
    }
    .page .info h1{
        font-size: 1.5rem;
    }
}

@media (max-height: 900px) {
    .page .info{
        padding-top: 65px;
    }
}
@media (max-height: 700px) {
    .page .info p{
        max-height: 60vh;
    }
    .page .info{
        gap: 50px;
    }
}